
img{
    width: auto;
    max-width: 260px;
    height: auto;
    max-height: 92px;
}

.btn-primary.blogPost {
    color: #000000;
    background-color: #d1d0d0;
    border-color: #787575;
}

.btn-primary {
    color: #FFF;
    background-color: #08bdc5;
    border-color: #079ba2;
}

.nav > li > a:focus, .nav > li > a:hover {
    color: #000000;
}

.well {
    background: white;
}
